<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>ToDo List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'todo_app/style.css'%}" type="text/css">


</head>

<body>


<div class="html-mobile-background">
</div>

<!--Navbar start-->

<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: 	#20B2AA;">
        <a class="navbar-brand" href="{% url 'index'%}">ToDo App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                {% if user.is_authenticated %}

                <div class="navbar-nav mr-auto">

                    <a class="nav-link" href="{%url 'profile'%}">Profile</a>
                    <a class="nav-link" href="{% url 'todo-list'%}">My Todo List</a>

                </div>

                <div class="navbar-nav ml-auto">

                    <a class="nav-item nav-link" href="{%url 'logout' %}">Logout</a>

                </div>
                {% else %}

                <div class="navbar-nav ml-auto">

                    <a class="nav-item nav-link" href="{%url 'login' %}">Login</a>
                    <a class="nav-item nav-link" href="{%url 'register' %}">Register</a>

                </div>

            {% endif %}

        </div>

    </nav>
</header>

<!--Navbar end-->

 <main role="main" class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
                <div class="message-content">
                    {%if messages %}
                        {%for message in messages %}
                            <div class="alert-{{message.tags}}">{{message}}</div>
                        {% endfor %}
                    {% endif %}
                    </div>

        {% block content %}{% endblock %}

        </div>
    </div>
</main>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
</body>
</html>