<!DOCTYPE html>
{% extends 'todo_app/base.html'%}
{% load crispy_forms_tags %}

{% block content %}

 <div class="container">
      <div class="row">
          <!--tasks container-->
        <div class="col-md-8">
            <h4>If you want to mark the task as done just simple click on it</h4>
            <div class="tasks-content">
                <ul class="list-group">
                    {%for one_task in tasks_list %}
                        {% if one_task.complete %}
                    <li class="list-group-item task-completed"><a href="{% url 'uncompleted' one_task.id %}">{{one_task}} completed</a></li>

                        {% else %}
                            <li class="list-group-item ">

                                 <div id="leftlist">
                                <a href="{% url 'complete' one_task.id %}">{{one_task}}</a>
                                 </div>
                                <div id="rightlist">
                               <a style="color: black;" class="fas fa-trash" href="{% url 'delete-task' one_task.id %}"></a>
                                </div>
                            </li>

                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!--form container -->
      <div class="col-md-4">
           <div class="form-content">
               <div class="form">
                    <form action="{% url 'add-new' %}" method="POST">
                    {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Make your own Todo List</legend>

                            <div class="form-content">
                                {{ form|crispy}}

                                </div>

                        </fieldset>

                <div align="center" class="form-group">
                    <button  class="btn btn-outline-info" type="submit">Add New Task</button>
                </div>

                      </form>
                </div>

                    <div align="center" class="buttons">

                        <div class="btn-group-vertical">

                            <a href ="{% url 'delete-all' %} ">
                                <button class="btn btn-outline-warning mb-3" type="submit">Delete all tasks</button>
                            </a>

                            <a href ="{% url 'delete-done' %} ">
                                <button class="btn btn-outline-warning" type="submit">Delete completed tasks</button>
                            </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>


{%endblock content %}
