body{
/* Background pattern from Toptal Subtle Patterns */
background-image: url("img/bg.png")

}

.message-content{
 padding-top: 20px;
 padding-right: 30px;
 padding-left: 40px;
 font-size: 20px;

}
/* settings for update data form in profile template */
.form-user-content{
 padding-right: 30px;
 padding-left: 80px;
 border: 2px solid #20B2AA;
 border-radius: 25px;
}
/*change view of tasks if they are completed */
.task-completed{
	background: #40D99B;
}
.task-completed:before {
    content: '✓ ';
}

.list-group-item a {
  color: black;
  text-decoration: none;
}
