body{
/* Background pattern from Toptal Subtle Patterns */
background-image: url("img/bg.png");
background-size: cover;
background-repeat: no-repeat;
}

/* Change background image on mobile view*/
@media (max-width: 767px) {
  .fl-builder-content .ss-changeme > .fl-row-content-wrap  {
    background-image:url("img/bg.png");
      background-repeat: no-repeat;
      background-size: cover;
  }
  .fl-builder-content .ss-changeme .fl-bg-video {
      display: none;
      visibility: hidden;
  }
}


/*message*/

.message-content{
 padding-top: 20px;
 padding-right: 20px;
 padding-left: 20px;
 font-size: 20px;

}
/* settings for all forms content */
.form-user-content{
 padding-top: 20px;
 padding-right: 20px;
 padding-left: 20px;
 border: 2px solid #20B2AA;
 border-radius: 25px;

}


/*change view of tasks if they are completed */
.task-completed{
	background: #40D99B;
}
.task-completed:before {
    content: '✓ ';
}

.list-group-item a {
  color: black;
  text-decoration: none;
}
